<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <form method="post" action="/insert" autocomplete="off">
             <div class="form-group">
                 <label><b>objectID :</b></label>
                 <input type="text" name="objectID" class="form-control">
             </div>
             <div class="form-group">
                <label><b>isHighlight :</b></label>
                <input type="text" name="isHighlight" class="form-control">
            </div>
            <div class="form-group">
                <label><b>accessionNumber :</b></label>
                <input type="text" name="accessionNumber" class="form-control">
            </div>
            <div class="form-group">
                <label><b>accessionYear :</b></label>
                <input type="text" name="accessionYear" class="form-control">
            </div>
            <div class="form-group">
                <label><b>isPublicDomain :</b></label>
                <input type="text" name="isPublicDomain" class="form-control">
            </div>
            <div class="form-group">
                <label><b>primaryImage :</b></label>
                <input type="text" name="primaryImage" class="form-control">
            </div>
            <div class="form-group">
                <label><b>primaryImageSmall :</b></label>
                <input type="text" name="primaryImageSmall" class="form-control">
            </div>
            <div class="form-group">
                <label><b>additionalImages :</b></label>
                <input type="text" name="" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents_constituentID :</b></label>
                <input type="text" name="constituents.0.constituentID" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents_role :</b>x</label>
                <input type="text" name="constituents.0.role" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents_name :</b></label>
                <input type="text" name="constituents.0.name" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents_constituentULAN_URL :</b></label>
                <input type="text" name="constituents.0.constituentULAN_URL" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents_constituentWikidata_URL :</b></label>
                <input type="text" name="constituents.0.constituentWikidata_URL" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents_gender :</b></label>
                <input type="text" name="constituents.0.gender" class="form-control">
            </div>
            <div class="form-group">
                <label><b>department :</b></label>
                <input type="text" name="department" class="form-control">
            </div>
            <div class="form-group">
                <label><b>objectName :</b></label>
                <input type="text" name="objectName" class="form-control">
            </div>
            <div class="form-group">
                <label><b>title :</b></label>
                <input type="text" name="title" class="form-control">
            </div>
            <div class="form-group">
                <label><b>culture :</b></label>
                <input type="text" name="culture" class="form-control">
            </div>
            <div class="form-group">
                <label><b>period :</b></label>
                <input type="text" name="period" class="form-control">
            </div>
            <div class="form-group">
                <label><b>dynasty :</b></label>
                <input type="text" name="dynasty" class="form-control">
            </div>
            <div class="form-group">
                <label><b>reign :</b></label>
                <input type="text" name="reign" class="form-control">
            </div>
            <div class="form-group">
                <label><b>portfolio :</b></label>
                <input type="text" name="portfolio" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistRole :</b></label>
                <input type="text" name="artistRole" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistPrefix :</b></label>
                <input type="text" name="artistPrefix" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistDisplayName :</b></label>
                <input type="text" name="artistDisplayName" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistDisplayBio :</b></label>
                <input type="text" name="artistDisplayBio" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistSuffix :</b></label>
                <input type="text" name="artistSuffix" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistAlphaSort :</b></label>
                <input type="text" name="artistAlphaSort" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistNationality :</b></label>
                <input type="text" name="artistNationality" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistBeginDate :</b></label>
                <input type="text" name="artistBeginDate" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistEndDate :</b></label>
                <input type="text" name="artistEndDate" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistGender :</b></label>
                <input type="text" name="artistGender" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistWikidata_URL :</b></label>
                <input type="text" name="artistWikidata_URL" class="form-control">
            </div>
            <div class="form-group">
                <label><b>artistULAN_URL :</b></label>
                <input type="text" name="artistULAN_URL" class="form-control">
            </div>
            <div class="form-group">
                <label><b>objectDate :</b></label>
                <input type="text" name="objectDate" class="form-control">
            </div>
            <div class="form-group">
                <label><b>objectBeginDate :</b></label>
                <input type="text" name="objectBeginDate" class="form-control">
            </div>
            <div class="form-group">
                <label><b>objectEndDate :</b></label>
                <input type="text" name="objectEndDate" class="form-control">
            </div>
            <div class="form-group">
                <label><b>medium :</b></label>
                <input type="text" name="medium" class="form-control">
            </div>
            <div class="form-group">
                <label><b>dimensions :</b></label>
                <input type="text" name="dimensions" class="form-control">
            </div>
            <div class="form-group">
                <label><b>measurements :</b></label>
                <input type="text" name="measurements" class="form-control">
            </div>
            <div class="form-group">
                <label><b>creditLine :</b></label>
                <input type="text" name="creditLine" class="form-control">
            </div>
            <div class="form-group">
                <label><b>geographyType :</b></label>
                <input type="text" name="geographyType" class="form-control">
            </div>
            <div class="form-group">
                <label><b>city :</b></label>
                <input type="text" name="city" class="form-control">
            </div>
            <div class="form-group">
                <label><b>state :</b></label>
                <input type="text" name="state" class="form-control">
            </div>
            <div class="form-group">
                <label><b>county :</b></label>
                <input type="text" name="county" class="form-control">
            </div>
            <div class="form-group">
                <label><b>country :</b></label>
                <input type="text" name="country" class="form-control">
            </div>
            <div class="form-group">
                <label><b>region :</b></label>
                <input type="text" name="region" class="form-control">
            </div>
            <div class="form-group">
                <label><b>subregion :</b></label>
                <input type="text" name="subregion" class="form-control">
            </div>
            <div class="form-group">
                <label><b>locale :</b></label>
                <input type="text" name="locale" class="form-control">
            </div>
            <div class="form-group">
                <label><b>locus :</b></label>
                <input type="text" name="locus" class="form-control">
            </div>
            <div class="form-group">
                <label><b>excavation :</b></label>
                <input type="text" name="excavation" class="form-control">
            </div>
            <div class="form-group">
                <label><b>river :</b></label>
                <input type="text" name="river" class="form-control">
            </div>
            <div class="form-group">
                <label><b>classification :</b></label>
                <input type="text" name="classification" class="form-control">
            </div>
            <div class="form-group">
                <label><b>rightsAndReproduction :</b></label>
                <input type="text" name="rightsAndReproduction" class="form-control">
            </div>
            <div class="form-group">
                <label><b>linkResource :</b></label>
                <input type="text" name="linkResource" class="form-control">
            </div>
            <div class="form-group">
                <label><b>metadataDate :</b></label>
                <input type="text" name="metadataDate" class="form-control">
            </div>
            <div class="form-group">
                <label><b>repository :</b></label>
                <input type="text" name="repository" class="form-control">
            </div>
            <div class="form-group">
                <label><b>objectURL :</b></label>
                <input type="text" name="objectURL" class="form-control">
            </div>
            <div class="form-group">
                <label><b>tags :</b></label>
                <input type="text" name="tags" class="form-control">
            </div>
            <div class="form-group">
                <label><b>objectWikidata_URL :</b></label>
                <input type="text" name="objectWikidata_URL" class="form-control">
            </div>
            <div class="form-group">
                <label><b>isTimelineWork :</b></label>
                <input type="text" name="isTimelineWork" class="form-control">
            </div>
            <div class="form-group">
                <label><b>GalleryNumber :</b></label>
                <input type="text" name="GalleryNumber" class="form-control">
            </div>
            <div class="form-group">
                <label><b>constituents :</b></label>
                <input type="text" name="constituents" class="form-control">
            </div>
            <div class="form-group">
                <label><b>Measurements_elementName :</b></label>
                <input type="text" name="measurements.elementName" class="form-control">
            </div>
            <div class="form-group">
                <label><b>Measurements_elementDescription :</b></label>
                <input type="text" name="measurements.0.elementDescription" class="form-control">
            </div>
            <div class="form-group">
                <label><b>Measurements_elementMeasurements_Diameter :</b></label>
                <input type="text" name="measurements.0.elementMeasurements.Diameter" class="form-control">
            </div>
             <input type="submit" name="insert" value="Insert" class="btn btn-primary">
        </form>

    </div>
    
</body>
</html>